<?xml version="1.0" encoding="utf-8"?>
 <configuration>
  <appSettings>
    <add key="ConnectionString" value="Server=tcp:cevelsql.database.windows.net,1433; Database=CevelDB; User ID=BulkaCz@cevelsql; Password=Hovnohovno11; Trusted_Connection=False; Encrypt=True; Connection Timeout=5;"/>
   
    <add key="Port1_Enabled" value="True"/>
    <add key="Port1_Device" value="Elektromer"/>
    <add key="Port1_DeviceID" value="4"/>
    <add key="Port1_PollInterval" value="3000"/>
    <add key="Port1_Name" value="COM1"/>
    <add key="Port1_BaudRate" value="9600"/>
    <add key="Port1_Parity" value="None"/>
    <add key="Port1_DataBit" value="8"/>
    <add key="Port1_StopBit" value="1"/>
    
    <add key="Port2_Enabled" value="False"/>
    <add key="Port2_Device" value="Elektromer"/>
    <add key="Port2_DeviceID" value="2"/>
    <add key="Port2_PollInterval" value="2000"/>
    <add key="Port2_Name" value="COM2"/>
    <add key="Port2_BaudRate" value="19200"/>
    <add key="Port2_Parity" value="None"/>
    <add key="Port2_DataBit" value="8"/>
    <add key="Port2_StopBit" value="1"/>
    
  
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
